* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.error {
    color: red;
}

ul,
ol {
    list-style: none;
}

.mw-70 {
    max-width: 70%;
}

#root {
    height: 100%;
}
